@import '../../stylesheets/base';

.badge {
  @include as-body('small', 'regular');
  display: inline-block;
  border-radius: 13px;
  min-width: 26px;
  height: 26px;
  padding: 0 0.75em;
  background-color: $gray-200;
  line-height: 26px;
  text-align: center;

  &--mini {
    overflow: hidden;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    padding: 0 0.5em;
    font-size: 0.75rem;
    line-height: 18px;
  }

  &--neutral {
    background-color: $teal-100;
  }

  &--positive {
    color: #fff;
    background-color: $feedback-success;
  }

  &--negative {
    color: #fff;
    background-color: $feedback-error;
  }
}
