@import '../../stylesheets/base';

@mixin get-body-font-size($size) {
  font-size: map-deep-get($as-element, 'body', $size, 'style', 'font-size');
}

@mixin get-header-font-size($size) {
  font-size: map-deep-get($as-element, 'headers', 'default', $size, 'style', 'font-size');
}

@mixin btn-focus-shadow($color) {
  &:focus {

    &:not([disabled]) {
      box-shadow: 0 0 0 3px rgba($color, 0.4);
    }
  }
}

@mixin btn-contained($color, $color-hover) {
  border-color: $color;
  color: #fff;
  background: $color;

  &:hover,
  &:focus {

    &:not([disabled]) {
      border-color: $color-hover;
      color: #fff;
      background: $color-hover;
    }
  }

  @include btn-focus-shadow($color);
}

@mixin btn-outlined($color) {
  border-color: $color;
  color: $color;

  &:hover,
  &:focus {

    &:not([disabled]) {
      color: #fff;
      background: $color;
    }
  }

  @include btn-focus-shadow($color);
}

@mixin btn-text($color, $color-hover) {
  border-color: transparent;
  color: $color;
  background: transparent;

  &:hover,
  &:focus {

    &:not([disabled]) {
      border-color: $gray-100;
      color: $link-color;
      background: $gray-100;
    }
  }

  @include btn-focus-shadow($link-color);
}

.btn {
  $b: &;

  @include as-body('regular', 'bold');
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  padding: 0.55em 1em;
  user-select: none;
  color: $link-color;
  background: transparent;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  transition-timing-function: $btn-hover-timing-function;
  transition-duration: $btn-hover-timing;
  transition-property: color, background, border-color;
  appearance: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover,
  &:focus {

    &:not([disabled]) {
      z-index: 1;// ensures box-shadow doesn't get overlapped
      color: $text-color;
    }
  }

  // Button Display
  //////////////////////////////////////////////////////////////////////////////
  &--link {
    display: inline;
    vertical-align: inherit;
    border: 0;
    padding: 0;
    color: $link-color;
    font: inherit;
    letter-spacing: inherit;
    text-decoration: underline;
    transition: none;

    &:hover,
    &:focus {
      color: $link-hover-color;
      background-color: transparent;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--icon-only {
    padding: 0.55em;
  }

  &--icon-only-circle {
    border-radius: 50%;
    padding: 0.55em;
  }

  // Button Size
  //////////////////////////////////////////////////////////////////////////////
  &--extra-sm {
    @include get-body-font-size('micro');
  }

  &--sm {
    @include get-body-font-size('small');
  }

  &--lg {
    @include get-body-font-size('large');
  }

  &--xl {
    @include get-header-font-size('h5');
  }

  // Button Style
  //////////////////////////////////////////////////////////////////////////////
  &--primary,
  &--following {
    @include btn-contained($link-color, $link-hover-color);
  }

  &--primary-important {
    @include btn-contained($green-300, $green-500);
  }

  &--primary-contrast {
    @include btn-contained($gold-300, $yellow-500);
  }

  &--primary-danger {
    @include btn-contained($red-300, $red-500);
  }

  &--primary-facebook {
    @include btn-contained($social-facebook, darken($social-facebook, 10%));
  }

  &--secondary,
  &--follow {
    @include btn-outlined($teal-300);
  }

  &--secondary-danger {
    @include btn-outlined($red-300);
  }

  &--text {
    @include btn-text($link-color, rgba($link-color, 0.5));
  }

  &--text-navigation {
    @include btn-text($text-color, $link-color);
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  &--following {
    // Removes padding because it requires setting an explicit width on the
    // button which will prevent jumping width when changing the button's text
    // on hover
    padding-right: 0;
    padding-left: 0;

    // Prevents the hover state until user's mouse has left the button on
    // initial click and "follow"
    &:not(.cancel-hover-style):hover {
      @include btn-focus-shadow($red-500);
      border-color: $red-500;
      color: #fff;
      background-color: $red-500;
    }
  }

  // Button Icon
  //////////////////////////////////////////////////////////////////////////////
  &__icon {
    $dims: 1.5em;
    $fix: 0.2em;// arbitrary visual adjustment (shifts icon upward)
    $offset: 0 - ($dims / 2);
    $spacing: 0.3em;

    display: inline-block;
    vertical-align: middle;
    margin: ($offset - $fix) $spacing $offset 0;
    width: $dims;
    height: $dims;
    fill: currentColor;
    transform: scale(1);
    transition: fill ease-in-out $btn-hover-timing;

    &--right {
      margin-right: 0;
      margin-left: $spacing;
    }

    #{$b}--icon-only &,
    #{$b}--icon-only-circle & {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // Prevents badges within buttons from increasing the line-height
  &__badge {
    margin: -4px 0;
  }
}
