// Animations Vars
$follow-path-offset: 120;

// Card Vars
$card-border-radius: 2px;
$card-hover-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.24);
$card-hover-timing: 0.3s;
$card-hover-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

// Button Vars
$btn-border-radius: 3px;
$btn-border-width: 2px;
$btn-hover-timing: 300ms;
$btn-hover-timing-function: ease-out;
