.u-bg-black {
  color: #fff;
  background-color: $black;
}

.u-bg-gray-100 {
  background-color: $gray-100;
}

.u-bg-gold-100 {
  background-color: $gold-100;
}

.u-bg-teal-100 {
  background-color: $teal-100;
}
